*{
    margin:0;
    padding:0;
}
#container{
    width:100%;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: orange;
}
.header ul{
    list-style: none;;
}
header ul li{
    display:inline-block;
    padding:10px;
}
a{
    color:black;
}
header a{
    text-decoration: none;
}
.row{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:20px;

}
.box{
    width:500px;
    padding:20px;
}
.btnsignup{
    background-color: orange;
    margin-top: 10px;
    padding:14px;
    font-size:20px;
    border-radius: 20px;
    border:none;
}
.summary{
    font-size: 20px;
    margin-top:10px;
}
.image{
    border-radius:100px;
}
.title{
    font-size: 20px;;
}